.HotItemCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 31%;
  margin: 0.7vmax;
  transition: all 0.5s;
  cursor: pointer;
}

.HotItemCard > img {
  width: 70%;
}

.HotItemCard p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(83, 83, 83);
}

.HotItemCard span {
  color: orangered;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: -1vmax 0 1vmax;
}

.HotItemCard:hover {
  transform: translateY(-0.4vmax);
  box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.35);
}
